/*
<div class="menu__hamburguesa">
      <div class="menu_header">
        <button class="menu_button--close">X</button>
        <h2 class="menu_logo">MAMMUT</h2>
      </div>
      <div class="menu_container">
        <ul class="menu_list--products">
          <li class="menu_item--products">Discover all</li>
          */
:root{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__hamburguesa {
  width: 300px;
  height: 400px;
  padding: 10px;
  background-color: rgb(99, 99, 99,0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu_header{
  width: 100%;
  padding: 10px;
  display: flex;
}
.menu_button--close{

}
.menu_logo{
  margin: 0 auto;
}
.menu_container{
  width: 90%;
  height: 90%;
  padding: 20px;
  background-color: white;
}
.menu_container--header{
  width: 100%;
  
}
.menu_button--back{
width: 10%;  
}
.menu_title--back{
  width: 88.8%;
  display: inline-block;
  text-align: center;
  
}
.menu_list--products{

}
.menu_item--products