/*
<div class="menu__hamburguesa">
      <div class="menu_header">
        <button class="menu_button--close">X</button>
        <h2 class="menu_logo">MAMMUT</h2>
      </div>
      <div class="menu_container">
        <ul class="menu_list--products">
          <li class="menu_item--products">Discover all</li>
          */
:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow Condensed", sans-serif;
}
ul {
  list-style: none;
}
.menu__hamburguesa {
  width: 350px;
  height: 600px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.753);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid red;
  border-width: 80%;
}
.menu_header {
  width: 100%;
  padding: 10px;
  display: flex;
}
.menu_button--close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 2rem;
  background-image: url(/icon/x-symbol-svgrepo-com.svg);
  background: white url(/icon/x-symbol-svgrepo-com.svg) center / 45% no-repeat;
  border: 0.6px solid gray;
}
.menu_logo {
  margin: 0 auto;
  font-family: "Passion One", cursive;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 2rem;
  color: white;
}
.menu_button--search {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 2rem;
  border: none;
  background: url(/icon/search-svgrepo-com.svg) center / 60% no-repeat;
}
.menu_container {
  width: 90%;
  height: 90%;
  padding: 10px;
  padding-left: 15px;
  background-color: white;
  border-radius: 5px 17px 5px 5px;
}
.menu_container--header {
  width: 100%;
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.menu_button--back {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background: url("https://img.icons8.com/?size=512&id=99996&format=png") center /
    50% no-repeat;
  border: 0.6px solid gray;
}

.menu_title--back {
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 400;
}
.menu_list--products {
  width: 100%;
  height: 40%;
  margin-top: 40px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.menu_item--products {
  padding: 15px;
  border-bottom: 1px solid rgb(99, 99, 99, 0.4);
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_item--littleImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
